*{ 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-family: 'Roboto', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
    max-height: 100vh;
}


.sidebar{
    color: white;
    display: grid;
    grid-template-rows: 1fr 5fr 5fr;
    background: #1992d3;
    padding: 25px;
    padding-top: 5px;
    font-size: 20px;
}
.sidebar .sidebar-header{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
    gap: 15px;
}
.sidebar .sidebar-header img{
    height: 50px;
    width: 50px;
}

.sidebar .sidebar-nav, .sidebar .sidebar-misc{
    padding-left: 10px;
}

ul li{
    list-style: none;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 900;
}
li#home{
    background: url(favicon/home.png) no-repeat 0;
}
li#profile{
    background: url(favicon/profile.png) no-repeat 0;
}
li#messages{
    background: url(favicon/messages.png) no-repeat 0;
}
li#history{
    background: url(favicon/history.png) no-repeat 0;
}
li#tasks{
    background: url(favicon/tasks.png) no-repeat 0;
}
li#communities{
    background: url(favicon/communities.png) no-repeat 0;
}
li#settings{
    background: url(favicon/settings.png) no-repeat 0;
}
li#support{
    background: url(favicon/support.png) no-repeat 0;
}
li#privacy{
    background: url(favicon/privacy.png) no-repeat 0;
}
.main{
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.main-header-wrap{
    padding: 0 70px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-header-top, .main-header-bottom{
    display: grid;
    grid-template-columns: 7fr 3fr;
}
.main-header-top{
    gap: 50px;
}
.header-searchbar{
    display: grid;
    grid-template-columns: 1fr 20fr;
    align-items: center;
}

.header-searchbar img{
    width: 25px;
    height: 25px;
}
.header-searchbar input{
    background-color: #e2e8f0;
    outline: none;
    border-radius: 30px;
    height: 35px;
    width: 100%;
}

.profile-details{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.profile-details span{
    font-weight: 900;

}
.profile-picture{
    height: 50px;
    width: 50px;
    background: url(favicon/profilepicture.jpeg) no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: .2px solid black;
}

.profile-details img{
    width: 25px;
    height: 25px;
}
.main-header-bottom{
    align-items: center;
}

.header-welcome{
    display: grid;
    grid-template-columns: 1fr minmax(425px, 8fr);
    gap: 15px;
    font-weight: 900;
}
.header-welcome .profile-picture{
    height: 70px;
    width: 70px;
}
.header-welcome .name{
    font-size: 30px;
}
.header-buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.header-buttons button{
    background: #1992d3;
    color: white;
    font-weight: 900;
    border-radius: 25px;
    min-width: 100px;
    min-height: 40px;
    height: 40px;
}
.main-content-wrap{
    display: grid;
    grid-template-columns: 5fr 2fr;
}
.main-content{
    display: grid;
    grid-template-rows: 1fr 16fr;
    font-weight: 600;
    font-size: 20px;
    background: #e2e8f0;
    margin-top: 5px;
    padding: 20px;
}
.main-cards{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    gap: 25px;
    max-height: 800px;
}
.card-1{
    border-left: 8px solid #f0b329;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    padding: 40px 25px;
    font-size: 20px;
    overflow: scroll;
}
.card-1 .card-description{
    padding-top: 5px;
    font-weight: 200;
    font-size: 16px;
    color: dimgray;
}
.card-icons{
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    padding-top: 25px;
    align-self: end;
}
.card-icons .icon{
    width: 25px;
    height: 25px;
    display: inline-block;
}
.favorite{
    background: url(favicon/favorite.png) no-repeat;
}
.share{
    background: url(favicon/share.png) no-repeat;
}
.delete{
    background: url(favicon/delete.png) no-repeat;
}
.side-content{
    background: #e2e8f0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    margin-top: 5px;
    padding-top: 15px;
    padding-right: 40px;
    
}

.main-header{
    font-weight: 500;
    font-size: 20px;
}

.side-content .main-header{
    color: black;
}

.card-wrap{
    background: white;
    border-radius: 15px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 20px;
}

.card-wrap .card-2{
    padding: 10px;
}


.card-wrap div:nth-child(2){
    border-bottom: .5px solid black;
    border-top: .5px solid black;
}

.card-2-block .block-title{
    font-weight: 500;
}

.card-2-block .block-description{
    font-size: 12px;
    color: dimgray;
}

.trending-wrap .card-2{
    background: white;
    border-radius: 15px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
    padding: 5px;
}
.card-wrap{
    margin-top: 15px;
}
.trending-block{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}
.trending-description{
    color: dimgray;
}

.trending-block{
    padding: 10px;
}
